<?xml version="1.0"?>
<config>
  <modules>
    <Swym_Notepad>
      <version>0.1.0</version>
    </Swym_Notepad>
  </modules>
  <frontend>
    <routers>
      <notepad>
        <use>standard</use>
          <args>
            <module>Swym_Notepad</module>
            <frontName>notepad</frontName>
          </args>
      </notepad>
    </routers>
		<layout>
		  <updates>
			<notepad>
			  <file>notepad.xml</file>
			</notepad>
		  </updates>
		</layout>
		
  </frontend>
  <adminhtml>
	<layout>
	  <updates>
		<notepad>
		  <file>notepad.xml</file>
		</notepad>
	  </updates>
	</layout>
  </adminhtml>
  <global>
	<models>
            <notepad>
                <class>Swym_Notepad_Model</class>
            </notepad>
			
     </models>
	 <resources>
            <notepad_setup>
                <setup>
                    <module>Swym_Notepad</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </notepad_setup>
      </resources>
	 
	 <events>
            <checkout_cart_product_add_after>
                <observers>
                    <notepad_cart_add_product_complete>
                        <class>Swym_Notepad_Model_Observer</class>
                        <method>addToCartAfter</method>
                    </notepad_cart_add_product_complete>
                </observers>
            </checkout_cart_product_add_after>
			<wishlist_add_product>
                <observers>
                    <notepad_wishlist_add_product>
                        <class>Swym_Notepad_Model_Observer</class>
                        <method>addToWishlist</method>
                    </notepad_wishlist_add_product>
                </observers>
            </wishlist_add_product>
			<controller_action_postdispatch_checkout_cart_couponPost>
                <observers>
                    <notepad_wishlist_add_product>
                        <class>Swym_Notepad_Model_Observer</class>
                        <method>couponPost</method>
                    </notepad_wishlist_add_product>
                </observers>
            </controller_action_postdispatch_checkout_cart_couponPost>
			<sales_order_save_after>
                <observers>
                    <notepad_order_place>
                        <type>singleton</type>
                        <class>Swym_Notepad_Model_Observer</class>
                        <method>orderPlaceAfter</method>
                    </notepad_order_place>
                </observers>
            </sales_order_save_after>
			<sales_quote_remove_item>
                <observers>
                    <notepad_sales_quote_remove_item>
                        <type>singleton</type>
                        <class>Swym_Notepad_Model_Observer</class>
                        <method>removeItemFromCart</method>
                    </notepad_sales_quote_remove_item>
                </observers>
            </sales_quote_remove_item>
			<catalog_product_save_before>
				<observers>
					<notepad_catalog_product_save_before>
						<type>singleton</type>
						<class>Swym_Notepad_Model_Observer</class>
						<method>productSaveBefore</method>
					</notepad_catalog_product_save_before>
				</observers>
			</catalog_product_save_before>
        </events>
    <helpers>	 
      <notepad>
        <class>Swym_Notepad_Helper</class>
      </notepad>
    </helpers>
	<blocks>
	  <notepad>
		<class>Swym_Notepad_Block</class>
	  </notepad>
	  <catalog>
		 <rewrite>
			 <product_price>Swym_Notepad_Block_Product_Price</product_price>
		 </rewrite>
	 </catalog>
	</blocks>
  </global>
</config> 